.container-customers{
    width: 1572px;
    height: 877px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title-container {
    width: 771px;
    height: 149px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.title-container span {
    font-size: 32px;
    font-weight: bold;
}

.title-container p {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}

.container-coments {
    height: 391px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.awards-container {
    width: 990px;
    height: 82px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.awards-card {
    width: 192px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.awards-card span {
    font-size: 32px;
    color: #094BCA;
    font-weight: bold;
}
.awards-card p {
    font-size: 18px;
}

@media (max-width: 1564px){
    .container-customers {
        width: 100%;
    }
}

@media (max-width: 784px){
    .title-container {
        width: 100%;
    }
}

@media (max-width: 784px){
    .title-container {
        text-align: center;
    }
}

@media (max-width: 404px){
    .title-container {
        height: 180px;
    }
}