.container-customers{
    width: 1572px;
    height: 877px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title-container {
    width: 771px;
    height: 149px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.title-container span {
    font-size: 32px;
    font-weight: bold;
}

.title-container p {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}

.container-coments {
    height: 420px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
}
.container-coments::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}
.container-coments::-webkit-scrollbar-track {
    background-color: transparent;
}
.container-coments::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 20px;
    border: 2px solid none;
}


.awards-container {
    width: 990px;
    height: 82px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.awards-card {
    width: 192px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.awards-card span {
    font-size: 32px;
    color: #094BCA;
    font-weight: bold;
}
.awards-card p {
    font-size: 18px;
}

/* Responsividade */

@media (max-width: 1564px){
    .container-customers {
        width: 100%;
    }
}

@media (max-width: 1000px){
    .awards-container {
        width: 100%;
    }
}

@media(max-width: 972px) {
    .awards-card {
        width: 15%;
    }
    .awards-card span {
        font-size: 22px;
    }
    .awards-card p {
        font-size: 14px;
    }
}

@media (max-width: 784px){
    .title-container {
        width: 100%;
    }
}

@media (max-width: 784px){
    .title-container {
        text-align: center;
    }
}

@media(max-width: 570px) {
    .container-customers {
        height: 920px;
    }

    .awards-container {
        height: 180px;
        flex-direction: column;
        align-items: center;
    }

    .awards-card {
        width: 90%;
        flex-direction: row;
        height: 30px;
        justify-content: space-between;
    }
}

@media (max-width: 404px){
    .title-container {
        height: 180px;
    }
}