.container-features {
    width: 1172px;
    height: 1289.36px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 90px;
}

.content-features {
    width: 771px;
    height: 181px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.content-features h3 {
    font-weight: bold;
    font-size: 32px;
}

.content-features p {
    line-height: 32px;
    text-align: center;
    font-size: 18px;
}

.functionality {
    width: 1170px;
    height: 1080px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 14px 0px;
}

.container-function {
    width: 1171px;
    height: 299.36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Responsividade */

@media(max-width: 1171px){
    .container-features {
        width: 100%;
    }

    .functionality {
        width: 100%;
    }

    .container-function {
        width: 100%;
    }
}

@media (max-width: 1064px){
    .container-function img {
        width: 450px;
    }
}

@media (max-width: 988px){
    .container-function img {
        width: 350px;
    }
}

@media (max-width: 771px){
    .content-features {
        width: 100%;
    }
}

@media (max-width: 634px){
    .content-features {
        height: 240px;
        text-align: center;
    }
    .content-features p {
        font-size: 16px;
    }
    .container-function img {
        display: none;
    }

    .container-function {
        justify-content: center;
    }
}

@media (max-width: 413px){
    .content-features {
        height: 260px;
        text-align: center;
    }
}

@media (max-width: 375px){
    .container-features h3 {
        font-size: 22px;
    }
}

@media (max-width: 313px){
    .content-features {
        height: 300px;
    }
}