.perfil-container {
    width: 378px;
    height: 391px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

.perfil-container img {
    width: 100px;
    height: 100px;
    position: absolute;
    
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.card:hover{
    margin-bottom: 20px;
    padding: 0px 10px;
}

.subClasse {
    background-color: #FFF;
    width: 100%;
    height: 348px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 15%)
}

.subClasse:hover{
    padding-top: 20px;
}

.coment {
    width: 319px;
    height: 217px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.coment p {
    font-size: 14;
    line-height: 22px;
    text-align: center;
}

.coment span {
    font-size: 24px;
    color: #D9D9D9;
    font-weight: bold;
}

.coment-container {
    height: 123px;
    width: 322px;
}

.assinatura {
    font-size: 18;
    font-weight: bold;
}